@charset "UTF-8";

/* * * * * * * * * * header 영역 * * * * * * * * * */
html,body, #wrap{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1100px;
}
/* 드래그 불가 */
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }
header{
    position: relative;
    width: 100%;
    min-width: 1100px;
    height: 100px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100px;
}
header::after{
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    top: 100px;
    content: "";
    background: linear-gradient(to right, rgb(32,32,55) 0%, transparent 100%);
    z-index: 10;
}

/* [S] 1.h1 */
h1{
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: pointer;
}
h1 span{
    position: absolute;
    display: inline-block;
    height: 100px;
    left: 140px; /*이미지100, 양쪽여백 20씩*/
    color: rgb(32,32,55);
    line-height: 100px;
    font-size: 40px;
    font-family: 'sqneoHV';
}
h1 .logo{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 20px;
    background-color: #fff;
}
h1 .logo img{
    position: relative;
    width: 80px;
    margin: 10px;
}

/* [S] 2.nav */
nav{
    grid-column-start: 2;
    grid-column-end: 3;
}
nav .tMenu{
    position: relative;
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: center;
    cursor: pointer;
}
nav .menu{
    position: relative;
    z-index: 10;
}
nav .menu>a{
    display: inline-block;
    height: 100px;
    line-height: 100px;
    font-size: 23px;
    color: rgb(32,32,55);
    font-family: 'sqneoEB';
}
nav .subMenu{
    display: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}
nav .subMenu .smenu{
    line-height: 50px;
}
nav .subMenu .smenu a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: rgb(11,8,35);
}

/* [S] 3.login */
#login_area{
    grid-column-start: 3;
    grid-column-end: 4;
    z-index: 30;
    padding-right: 10%;
    z-index: 20;
    background-color: #fff;
}
#login_area ul{
    height: 100px;
    overflow: hidden;
}
#login_area li{
    position: relative;
    line-height: 100px;
    text-align: center;
    float: left;
    width: 30%;
}
#login_area li a{
    font-size: 15px;
    color: rgb(32,32,55);
    font-family: 'sqneoEB';
}
#login_area .srch_btn{
    position: relative;
    cursor: pointer;
}
#login_area .srch_btn img{
    position: relative;
    width: 20px;
    height: 20px;
    top: 4px;
    /* filter: invert(0%); *//* 이미지 색상 변경 */
}
#header_search{
    position: absolute;
    height: 70px;
    width: 15%;
    right: 0px;
    top: 0px;
    /*background-color: #000; */
    /* display: none; */
    z-index: 10;
}
#header_search form{
    position: relative;
    width: 100%;
    height: 50px;
    right: 0px;
    margin: 20px auto;
}
#header_search input{
    position: absolute;
    top: 0;
    left: 0px;
    width: 180px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 20px 0 0 20px;
    border: 3px solid #bababa;
    border-right: none;
    outline: none;
    /* background-color: rgb(32,23,67); 기존 */
    background-color: #fff;
    font-size: 14px;
    color: #ccc;
}
#header_search input:focus{
    color: #ccc;
    border-bottom: 3px solid #ccc;
}
#header_search .srch_btn{
    position: absolute;
    top: 0;
    right: 59px;
    width: 50px;
    height: 50px;
    border-radius: 0 20px 20px 0;
    border: 3px solid #bababa;
    border-left: none;
    /* background-color: rgb(32,23,67); 기존 */
    background-color: #fff;
    cursor: pointer;
}
#header_search .srch_btn img{
    position: relative;
    width: 20px;
    filter: invert(80%);
}
#header_search .hidden{
    visibility: hidden;
}
#header_search .closed{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 10px;
    color: rgb(32,32,55);

}
/* * * * * * * * * * [S] title_bg_wrap * * * * * * * * * */
#title_bg_wrap{
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(../images/bg_sample.jpeg);
}
#sub_page_h2{
    position: absolute;
    width: 85%;
    /* border: 1px solid; */
    height: 95px; /* 크기 맞추기 */
    bottom: 0;
    font-size: 100px;
    text-align: left;
    margin: 0 auto;
    font-family: 'sqneoHV';
    color: rgba(238, 238, 238, 0.6);
}
/* * * * * * * * * * [S] #container * * * * * * * * * */
#container{
    position: relative;
    width: 100%;
    height: 70%;
    background-color: transparent;
    margin-bottom: 80px;
}
#polygon_area{
    position: relative;
    width: 65%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    /* border: 3px solid green; */
}
#polygon_area .poly_count{
    text-align: center;
    margin: 10px 0;
}
/*index에서만 사용됨*/
#polygon_area .poly_count.hidden{
    visibility: hidden;
}
/* 메인 육각형 */
.polygon_border{
    position: relative;
    margin: 0 auto;
    width: 392px;
    height: 460px;
    background: #7000ff;
    font-size: 20px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.polygon{
    position: relative;
    width: 382px;
    height: 450px;
    top: 5px;
    left: 5px;
    background: #fff;
    font-size: 20px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
/* 서브 육각형 */
.sub_polygon_border{
    position: absolute;
    width: 265px;
    height: 310px;
    left: 50%;
    margin-left: -132.5px;
    top: 158px;
    background: #7000ff;
    font-size: 20px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.sub_polygon{
    position: absolute;
    width: 255px;
    height: 300px;
    top: 5px;
    left: 5px;
    background: #fff;
    font-size: 20px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#poly_good{
    margin-left: -524.5px;
}
#poly_bad{
    margin-left: 259.5px;
}
/* 메인 육각형 내부 */
.polygon_border .umbti_area{
    position: relative;
    width: 382px;
    height: 382px;
    top: 40px;
    /* border: 1px solid red; */
}
/* 서브 육각형 내부 */
.sub_polygon_border .umbti_area{
    position: relative;
    width: 255px;
    height: 255px;
    top: 20px;
    /* border: 1px solid red; */
}
.umbti_area p{
    position: absolute;
    width: 100%;
    /* border: 1px solid navy; */
    padding: 0px 30px;
    text-align: center;
    line-height: 30px;
    font-family: 'sqneoEB';
    z-index: 10;
}
.umbti_area p.umbti_head{
    top: 60px;
    font-size: 25px;
}
.umbti_area p.umbti_result_name{
    top: 130px;
    font-family: 'sqneoHV';
    font-size: 40px;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff,
                -1px 1px 1px #fff, 1px -1px 1px #fff;
}
.umbti_area p.umbti_result_explanation{
    bottom: 60px;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
}
.umbti_area img{
    position: relative;
    display: block;
    height: 150px;
    margin: 0 auto;
    top: 50px;
    opacity: 0.3;
}
.polygon .umbti_area img{
    top: 100px;
}
#polygon_area .test_restart{
    position: relative;
    width: 200px;
    height: 50px;
    margin: 30px auto;
    font-family: 'sqneoEB';
    text-align: center;
    border: 3px solid #7000ff;
    border-radius: 25px;
    background-color: #fff;
    line-height: 44px;
    cursor: pointer;
}
#polygon_area .test_restart:hover{
    background-color: #7000ff;
    color: #fff;
}
#polygon_area .share{
    position: relative;
    text-align: center;
    top: -20px;
    cursor: pointer;
}
/* * * * * * * * * * footer 영역 * * * * * * * * * */
footer{
    position: relative;
    width: 100%;
    min-width: 1100px;
    height: 150px;
    bottom: 0%;
    bottom: 0;
    /* background: rgba(0, 0, 0, 1); */
}
footer::after{
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    top: 0;
    content: "";
    background: linear-gradient(to right, transparent 0%, rgb(32,32,55) 100%);
    z-index: 10;
}
footer::before{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, transparent 100%); */
    z-index: 10;
    pointer-events: none;
}
#footer_link{
    position: relative;
    width: 100%;
    z-index: 20;
}
#footer_link ul{
    position: relative;
    width: 500px;
    height: 150px;
    margin: 0 auto;
    line-height: 150px;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#footer_link li{
    position: relative;
    font-size: 16px;
}
#footer_link li::after{
    position: absolute;
    top: 0;
    content: "·";
    font-size: 16px;
    font-weight: bold;
    color: rgb(32,32,55);
}
#footer_link li:last-child:after{
    content: none;
}
#footer_link li a{
    display: inline-block;
    width: 100%;
    color: rgb(32,32,55);
}
footer .copyright{
    position: relative;
    width: 500px;
    text-align: center;
    top: -50px;
    margin: 20px auto;
    font-style: italic;
    font-size: 15px;
    color: #aaa;
    z-index: 20;
}
