@charset "UTF-8";

:root{
    --polygon-tb: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    --polygon-color: #7000FF 0%, #9E52FF 70.1%, #FFFFFF 98.97%;
    --main-color: #7000FF;
}
/* * * * * * * * * * header 영역 * * * * * * * * * */
html,body, #wrap{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1100px;
}
/* 드래그 불가 */
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
/* * * * * * * * * * [S] #container * * * * * * * * * */
#container{
    position: relative;
    width: 100%;
    height: 1100px;
    background-color: transparent;
    margin-bottom: 80px;
}
/* 배경에 육각형을 넣어 보고 싶어졌다. */
.bg_polygon{
	position: absolute;
    display: inline-block;
    width: 255px;
    height: 300px;
    -webkt-clip-path: var(--polygon-tb);
    clip-path: var(--polygon-tb);
}
.bg_polygon1{
	top: 50px;
    background: rgba(112, 0, 255, 0.08);
    transform: scale(2) rotate(17deg);
}
.bg_polygon2{
	right: -50px;
	top: -50px;
    background: rgba(112, 0, 255, 0.08);
    transform: rotate(80deg);
}
.bg_polygon3{
	left: 100px;
	top: 700px;
    background: rgba(112, 0, 255, 0.1);
    transform: scale(0.7) rotate(0deg);
}
.bg_polygon4{
	left: 200px;
	top: 778px;
    background: rgba(112, 0, 255, 0.1);
    transform: scale(0.5) rotate(10deg);
}
.bg_polygon5{
	right: 50px;
	top: 448px;
    background: rgba(112, 0, 255, 0.05);
    transform: scale(1) rotate(80deg);
}
.bg_polygon6{
	right: 0;
	top: 830px;
    background: rgba(112, 0, 255, 0.03);
    transform: scale(2) rotate(-28deg);
}
#polygon_area{
    position: relative;
    width: 65%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    /* border: 3px solid green; */
}
#polygon_area .poly_count{
    text-align: center;
    margin: 10px 0;
}
/*index에서만 사용됨*/
#polygon_area .poly_count.hidden{
    visibility: hidden;
}
/* 메인 육각형 */
.polygon_border{
    position: relative;
    margin: 0 auto;
    width: 392px;
    height: 460px;
    background: #7000ff;
    font-size: 20px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.polygon{
    position: relative;
    width: 382px;
    height: 450px;
    top: 5px;
    left: 5px;
    background: var(--main-color);
    font-size: 20px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
/* 서브 육각형 */
.sub_polygon_border{
    position: absolute;
    width: 265px;
    height: 310px;
    left: 50%;
    margin-left: -132.5px;
    top: 158px;
    background: #7000ff;
    font-size: 20px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.sub_polygon{
    position: absolute;
    width: 255px;
    height: 300px;
    top: 5px;
    left: 5px;
    background: #fff;
    font-size: 20px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#poly_good{
    margin-left: -524.5px;
}
#poly_bad{
    margin-left: 259.5px;
}
/* 메인 육각형 내부 */
.polygon_border .umbti_area{
    position: relative;
    width: 382px;
    height: 382px;
    top: 40px;
    /* border: 1px solid red; */
}
/* 서브 육각형 내부 */
.sub_polygon_border .umbti_area{
    position: relative;
    width: 255px;
    height: 255px;
    top: 20px;
    /* border: 1px solid red; */
}
.umbti_area p{
    position: absolute;
    width: 100%;
    /* border: 1px solid navy; */
    padding: 0px 30px;
    text-align: center;
    line-height: 30px;
    font-family: 'sqneoEB';
    z-index: 10;
}
.umbti_area p.umbti_head{
    top: 60px;
    font-size: 25px;
}
#poly_main p.umbti_head{
	color: #fff;
}
.polygon p.umbti_result_name{
    top: 130px;
    font-family: 'sqneoHV';
    font-size: 40px;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff,
                -1px 1px 1px #fff, 1px -1px 1px #fff;
}
.sub_polygon .umbti_result_name{
	top: 130px;
    font-family: 'sqneoHV';
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff,
                -1px 1px 1px #fff, 1px -1px 1px #fff;
	font-size: 30px;	
	margin-top: 30px;
}
.umbti_area p.umbti_result_explanation{
    bottom: 60px;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
}
.umbti_area img{
    position: relative;
    display: block;
    height: 280px;
    margin: 0 auto;
    top: 20px;
    opacity: 1;
}
.polygon .umbti_area img{
    top: 100px;
}
#polygon_area .test_restart{
    position: relative;
    width: 200px;
    height: 50px;
    margin: 30px auto;
    font-family: 'sqneoEB';
    text-align: center;
    border: 3px solid #7000ff;
    border-radius: 25px;
    background-color: #fff;
    line-height: 44px;
    cursor: pointer;
}
#polygon_area .test_restart:hover{
    background-color: #7000ff;
    color: #fff;
}
#polygon_area .share{
    position: relative;
    text-align: center;
    top: -20px;
    cursor: pointer;
}
.result_detail{
	position: relative;
	margin: 100px auto;
	padding: 50px 20px;
	width: 600px;
	border: 3px solid #7000ff;
	border-radius: 3px;
}
.result_detail_text{
	font-style: 'sqneoEB';
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	
}