@charset "UTF-8";

#wrap{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/nightSky.jpg);
}

/* * * * [S] #container * * * */
#container{
    position: relative;
    border: 1px solid navy;
}
/* #link_area */
#space_area{
    position: relative;
    width: 100%;
    height: 3000px;
    background-image: url(../images/nightSky.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    /* border: 10px solid red; */
}
#space_area .skip{
    position: absolute;
    width: 100px;
    height: 50px;
    margin: 30px;
    background-color: #333;
    border-radius: 0px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

/* #earth_area */
#earth_area{
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0;
    /* border: 1px solid yellow; */
    overflow: hidden;


}
#earth_area img{
    position: relative;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 0;
    /* border: 1px solid red; */
    transform-origin: center top;
}
/* * * * [E] #container * * * */
